<!-- 5 -->
.banner{display: flex; flex-wrap: wrap;justify-content: space-around;}
.container{display: flex; flex-wrap: wrap;justify-content: space-around;}
.htmlimage{display: flex; flex-wrap: wrap;justify-content: space-around;}
.imagecontext{display: flex; flex-wrap: wrap;justify-content: space-around;}
.independence{display: flex; flex-wrap: wrap;justify-content: space-around;}
.latehistory{display: flex; flex-wrap: wrap;justify-content: space-around;}
.main{display: flex; flex-wrap: wrap;justify-content: space-around;}
#footer{display: flex; flex-wrap: wrap;justify-content: space-around;}
#region{display: flex; flex-wrap: wrap;justify-content: space-around;}


nav{
  padding:5px
}
nav a{
  color:rgb(255, 255, 255);
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
  background-color: black;
  flex-wrap: wrap;
}

nav a{flex: 1;

  text-align:center;
  padding:10px;
  transition:0.5s
}

/* Challenge 7: Make the font for all elements Arial */
{font-family: arial;}
/* Challenge 8: Remove the underline for all hyperlinks */
a{text-decoration: none;}
/* Challenge 9: Change the bottom border of the hyperlinks in the <nav> element to 2px solid black when the visitor hovers over it */
nav a:hover{border-bottom: 2px black;}
nav a:hover{
    background-color:rgb(219, 77, 77);
    color:white;
    transition:0.5s;}
/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */
.banner{display: flex;}
.banner{background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); text-align: left; text-size-adjust: 100;}
.banner{border-radius: 50px;}
.banner{flex-wrap: wrap;}
/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
.main{font-size: 24pt; font-style: rgb(255, 255, 255); background-color: black; color: white; padding: 30px;}
.container{color: white;}
#region{justify-content: flex-end;
flex-wrap: wrap;}

image{max-width: 100%; height: auto;}
#region{padding-right: 50px;}

/* Image CXT*/
.imagecontext{background-color: black; color: rgb(196, 179, 179); text-align: center}
.imagecontext{display: flex;}
.imagecontext:hover{transform: scale(1.1); color: white; background-color: grey;}

.video{
 display: flex; padding: 30px; justify-content: center; align-self: center; flex-direction: row; flex-wrap: wrap; flex: 1;
}
#video1{padding: 50px;}
#video2{padding: 50px;}

/* html/HISTORY*/

#footer{
  background-color:maroon;
  color:white;
  padding:20px;
  display: flex;
}

.htmlimage{display: flex;}
.htmlimage{flex-direction: row;}
.htmlimage{flex: 1;}

.latehistory{display: flex;}
.latehistory{background-color: black; color: white;}
.latehistory{box-shadow: grey; margin: 20px; padding: 50px;
align-items: center;
justify-content: center;
}

.htmlimage {
  filter: blur(5px);
  transition: filter 0.3 ease;
}
#architecture{padding: 50px;}

.htmlimage:hover {
  filter: blur(0);
  transform: scale(0.9);
}

.independence{
  background-color: black;
  padding: 30px;
  display: flex;
  color: white;
}